CMSConsoleAppliction/ConsoleApplication/CMSConsoleApplication/CMSAlertApplication/Web References/CRMService/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyAlertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartnerAlertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAlertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerFamilyAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerFamilyAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartnerFamilyAlertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerMiscAlert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerMiscAlertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartnerMiscAlertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyAlertSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyAlert" />
  </wsdl:message>
  <wsdl:message name="GetCompanyAlertSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyAlertResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartnerAlertSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartnerAlert" />
  </wsdl:message>
  <wsdl:message name="GetPartnerAlertSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartnerAlertResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAlertSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAlert" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAlertSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAlertResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartnerFamilyAlertSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartnerFamilyAlert" />
  </wsdl:message>
  <wsdl:message name="GetPartnerFamilyAlertSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartnerFamilyAlertResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartnerMiscAlertSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartnerMiscAlert" />
  </wsdl:message>
  <wsdl:message name="GetPartnerMiscAlertSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartnerMiscAlertResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyAlert">
      <wsdl:input message="tns:GetCompanyAlertSoapIn" />
      <wsdl:output message="tns:GetCompanyAlertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerAlert">
      <wsdl:input message="tns:GetPartnerAlertSoapIn" />
      <wsdl:output message="tns:GetPartnerAlertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAlert">
      <wsdl:input message="tns:GetEmployeeAlertSoapIn" />
      <wsdl:output message="tns:GetEmployeeAlertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerFamilyAlert">
      <wsdl:input message="tns:GetPartnerFamilyAlertSoapIn" />
      <wsdl:output message="tns:GetPartnerFamilyAlertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerMiscAlert">
      <wsdl:input message="tns:GetPartnerMiscAlertSoapIn" />
      <wsdl:output message="tns:GetPartnerMiscAlertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyAlert">
      <soap:operation soapAction="http://tempuri.org/GetCompanyAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerAlert">
      <soap:operation soapAction="http://tempuri.org/GetPartnerAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAlert">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerFamilyAlert">
      <soap:operation soapAction="http://tempuri.org/GetPartnerFamilyAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerMiscAlert">
      <soap:operation soapAction="http://tempuri.org/GetPartnerMiscAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyAlert">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerAlert">
      <soap12:operation soapAction="http://tempuri.org/GetPartnerAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAlert">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerFamilyAlert">
      <soap12:operation soapAction="http://tempuri.org/GetPartnerFamilyAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerMiscAlert">
      <soap12:operation soapAction="http://tempuri.org/GetPartnerMiscAlert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://localhost:52277/Services.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
      <soap12:address location="http://localhost:52277/Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>